                                                                                                                                                                <!DOCTYPE html>
<html lang="pt_br">
<head>    
    <title>{{title}}</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="materialize/css/materialize.min.css">
    <link rel="stylesheet" href="font-awesome-4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="assets/css/style.css">
    <link rel="stylesheet" href="slick/slick.css">
    <link rel="stylesheet" href="slick/slick-theme.css">
</head>
<body>
    <div id="app">
        <header>
            <div class="row">
                <div class="col xl7 l12 m12 s12 img-bg">
                    <img src="assets/media/img/bottom-gray.png" class="bottom-img-bg" alt="">
                </div>
                <div class="col xl5 l12 m12 s12 pleft40 ptop100 pbottom100" id="infos-lateral">
                    <div class="position-infos">
                        <hr class="hr-data-event" align="left">
                        <p class="data-event mtop10 mbottom10">25 e 26<br>NOVEMBRO 2017</p>
                        <button class="btn mtop10 btn-inscription">Inscrever-se</button>
                        <p class="vacancies-event">*Somente 70 vagas</p>
                        <img src="assets/media/gif/scroll-down.gif" class="scroll-down" alt="">
                    </div>
                </div>
                <div class="col xl4 l4 m4 s12 offset-m2 offset-l2 offset-xl2 pleft40 ptop30 infos-bottom">
                    <hr class="hr-data-event" align="left">
                    <p class="data-event mtop10 mbottom10">25 e 26<br>NOVEMBRO 2017</p>
                </div>  
                 <div class="col xl6 l6 m6 s12 pleft40 ptop30  infos-bottom" >
                    <button class="btn mtop10 btn-inscription">Inscrever-se</button>
                    <p class="vacancies-event">*Somente 70 vagas</p>
                </div>
            </div>
           
        </header>

        <section id="about">
            <div class="container">
                <div class="row">
                    <div class="col s12 m6 l6 xl6">
                        <h3>Sobre o evento</h3>
                        <hr align="left" width="5%" color="#FABD3A">
                        <p class="text-justify">{{sobreEvento}}</p>
                    </div>
                    <div class="col s0 m1 l1 xl1"></div>
                    <div class="col s10  m5 l5 xl5 ptop70" >
                        <div class="slick">
                            <list-pictures v-for="picture in pictures" :picture="picture" ></list-pictures>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <div class="divider">
            <img src="assets/media/img/mountains.png"  class="responsive-img" alt="" />
        </div>
        
        <section id="whoWillBe" class="ptop40 pbottom20 bg-orange-light">
            <div class="container">
                <div class="row">
                    <div class="col s12 m12 l12 xl12 text-center">
                        <h3>Quem vai estar lá</h3>
                        <hr align="center" width="5%" color="#FABD3A">
                    </div>
                </div>
            </div>
        </section>

        <section id="programation" class="ptop100 pbottom40 bg-orange-light">
                <div class="container">
                    <div class="row">
                            <div class="col s12 m12 l12 xl12 text-center">
                                 <h3>Programação</h3>
                                <hr align="center" width="5%" color="#FABD3A">
                            </div>
                    </div>
                </div>
            </section>

        <div class="divider ">
            <img src="assets/media/img/mountains2.png" class="responsive-img mbottom10n" alt="" />
        </div>
            
    
        <section id="organization" class="ptop20 pbottom20">
                <div class="container">
                    <div class="row">
                        <div class="col s12 x12 m12 l12 text-center">
                            <h3>Local</h3>
                            <hr align="center" width="5%" color="#FABD3A">
                            <p><i class="fa fa-map-marker mright5" aria-hidden="true"></i>Av. São José, 1306
                            <br>Centro, Alfenas - MG, 37130-000
                            <br><i class="fa fa-phone mright5" aria-hidden="true"></i>(35) 3292-2331</p>
                            <a title="Ver direção no Google Maps" href="https://www.google.com.br/maps/place/Igreja+Presbiteriana+de+Alfenas/@-21.4267248,-45.9483445,17z/data=!3m1!4b1!4m5!3m4!1s0x0:0xd665816a9872c063!8m2!3d-21.4267295!4d-45.9461573" target="_blanck">
                                <i class="fa fa-location-arrow fa-3x" aria-hidden="true"></i>
                            </a>

                        </div>
                    </div>
                </div>
            </section>    

        <section id="organization" class="ptop20 pbottom100">
            <div class="container">
                <div class="row">
                    <div class="col s12 x12 ml2 l12 center-align">
                        <h3>Organização</h3>
                        <hr align="center" width="5%" color="#FABD3A">
                        <div class="col offset-m2 offset-l2 offset-xl2"></div>
                        <list-organizations v-for="organization in organizations" :organization="organization"></list-organizations>
                    </div>
                </div>
            </div>
        </section>
    </div> 
    <script src="assets/js/jquery-3.2.1.min.js"></script>
    <script src="materialize/js/materialize.min.js"></script>
    <script src="https://unpkg.com/vue"></script>
    <script src="assets/js/components.js"></script>
    <script src="assets/js/app.js"></script>
    <script src="slick/slick.min.js"></script>    
    <script src="assets/js/main.js"></script>



</body>
</html>