                                                                                                                                                                <!DOCTYPE html>
<html lang="pt_br">
<head>    
    <title>FMRL | Congresso 2017</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="materialize/css/materialize.min.css">
    <link rel="stylesheet" href="font-awesome-4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="assets/css/style.css">    
    <link rel="stylesheet" href="assets/css/iziToast.min.css">
    <link rel="stylesheet" href="slick/slick.css">
    <link rel="stylesheet" href="slick/slick-theme.css">
    <link href="assets/css/material-icons.css" rel="stylesheet">
    <link href="assets/media/favicon.ico" rel="icon" type="image/x-icon" />
</head>
<body>
    <div id="app">
        <a href="body" id="btn-up-page-box" class="effect-scroll">
            <i class="fa fa-chevron-up fa-1x" aria-hidden="true"></i>
        </a>
        <header>
            <div class="navbar-fixed">
                <nav id="nav" >
                  <div class="nav-wrapper nav">
                    <a  data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
                    <ul class="center hide-on-med-and-down">
                      <li><a href="#about" class="effect-scroll">Sobre</a></li>
                      <li><a href="#lectures" class="effect-scroll">Preletores</a></li>
                      <li><a href="#programation" class="effect-scroll">Programação</a></li>
                      <li><a href="#location" class="effect-scroll">Local</a></li>
                      <li><a href="#organization" class="effect-scroll">Organização</a></li>
                      <li><a href="#inscription" class="effect-scroll">Inscreva-se</a></li>
                    </ul>
                    <ul class="side-nav" id="mobile-demo">
                        <li><a href="#about" class="effect-scroll">Sobre</a></li>
                        <li><a href="#lectures" class="effect-scroll">Preletores</a></li>
                        <li><a href="#programation" class="effect-scroll">Programação</a></li>
                        <li><a href="#location" class="effect-scroll">Local</a></li>
                        <li><a href="#organization" class="effect-scroll">Organização</a></li>
                        <li><a href="#organization" class="effect-scroll">Organização</a></li>
                        <li><a href="#inscription" class="effect-scroll">Inscreva-se</a></li>
                    </ul>
                  </div>
                </nav>
            </div>
            <div class="row">
                <div class="col xl7 l12 m12 s12 img-bg">
                    <img src="assets/media/img/bottom-gray.png" class="bottom-img-bg" alt="">
                    <a href="#about" class="effect-scroll angle-position "><i class="fa fa-angle-down fa-4x" aria-hidden="true"></i></a>
                </div>
                <div class="col xl5 l12 m12 s12 pleft40 ptop100 pbottom100" id="infos-lateral">
                    <div class="position-infos">
                        <hr class="hr-data-event" align="left">
                        <p class="data-event mtop10 mbottom10">25 e 26<br>NOVEMBRO 2017</p>
                        <a href="#inscription" class="btn mtop10  effect-scroll btn-inscription">Inscreva-se</a>
                        <p class="vacancies-event">*Somente 70 vagas</p>
                        <img src="assets/media/gif/scroll-down.gif" class="scroll-down" alt="">
                    </div>
                </div>
                <div class="col xl4 l4 m4 s12 offset-m2 offset-l2 offset-xl2 pleft40 ptop30 infos-bottom">
                    <hr class="hr-data-event" align="left">
                    <p class="data-event mtop10 mbottom10">25 e 26<br>NOVEMBRO 2017</p>
                </div>  
                 <div class="col xl6 l6 m6 s12 pleft40 ptop30  infos-bottom" >
                    <button class="btn mtop10 btn-inscription">Inscrever-se</button>
                    <p class="vacancies-event">*Somente 70 vagas</p>
                </div>
            </div>
           
        </header>

        <section id="about">
            <div class="container">
                <div class="row">
                    <div class="col s12 m6 l6 xl6">
                        <h3>Sobre o evento</h3>
                        <hr align="left" width="5%" color="#FABD3A">
                        <p class="text-justify">{{sobreEvento}}</p>
                    </div>
                    <div class="col s0 m1 l1 xl1"></div>
                    <div class="col s10  m5 l5 xl5 ptop70" >
                        <div class="slick">
                            <list-pictures v-for="picture in pictures" :picture="picture" ></list-pictures>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <div class="divider">
            <img src="assets/media/img/mountains.png"  class="responsive-img" alt="" />
        </div>
        
        <section  id="lectures" class="ptop40 pbottom20 bg-orange-light">
            <div class="container">
                <div class="row">
                    <div class="col s12 m12 l12 xl12 text-center">
                        <h3>Preletores</h3>
                        <hr align="center" width="5%" color="#FABD3A">
                        <div class="col s12 m2"></div>
                        <list-lectures v-for="lecture in lectures" :lecture="lecture"></list-lectures>
                    </div>
                </div>
            </div>
        </section>

        <section id="programation" class="ptop100 pbottom40 bg-orange-light">
                <div class="container">
                    <div class="row">
                            <div class="col s12 m12 l12 xl12 text-center">
                                 <h3>Programação</h3>
                                <hr align="center" width="5%" color="#FABD3A">
                                <img src="assets/media/gif/load.gif" class="rsponsive-img mtop10 " alt="">
                                <h4 class="pbottom20">Em breve ...</h4>
                            </div>
                    </div>
                </div>
            </section>

        <div class="divider ">
            <img src="assets/media/img/mountains2.png" class="responsive-img mbottom10n" alt="" />
        </div>
            
    
        <section id="location" class="ptop20 pbottom20">
                <div class="container">
                    <div class="row">
                        <div class="col s12 x12 m12 l12 text-center">
                            <h3>Local</h3>
                            <hr align="center" width="5%" color="#FABD3A">
                            <p><i class="fa fa-map-marker mright5" aria-hidden="true"></i>Av. São José, 1306
                            <br>Centro, Alfenas - MG, 37130-000</p>
                            <a title="Ver direção no Google Maps" href="https://www.google.com.br/maps/place/Igreja+Presbiteriana+de+Alfenas/@-21.4267248,-45.9483445,17z/data=!3m1!4b1!4m5!3m4!1s0x0:0xd665816a9872c063!8m2!3d-21.4267295!4d-45.9461573" target="_blanck">
                                <i class="fa fa-location-arrow fa-3x" aria-hidden="true"></i>
                            </a>

                        </div>
                    </div>
                </div>
            </section>    

        <section id="organization" class="ptop40 pbottom20">
            <div class="container">
                <div class="row">
                    <div class="col s12 x12 ml2 l12 center-align">
                        <h3>Organização</h3>
                        <hr align="center" width="5%" color="#FABD3A">
                        <div class="col offset-m2 offset-l2 offset-xl2"></div>
                        <list-organizations v-for="organization in organizations" :organization="organization"></list-organizations>
                    </div>
                </div>
            </div>
        </section>
        <div class="divider">
            <img src="assets/media/img/mountains3.png"  class="responsive-img" alt="" />
        </div>
        
        <section id="inscription" class="ptop20 pbottom20 bg-brown-light">
                <div class="container">
                    <div class="row">
                        <div class="col s12 x12 ml2 l12 center-align">
                            <h3>Inscreva-se</h3>
                            <hr align="center" width="5%" color="#FABD3A">
                            <p>Preencha esse formulário para fazer sua inscrição. Depois de preenchido e recebido pos nós, enviaremos um email passando informações para pagamento. 
                            <br><br>Valor: R$25,00
                            </p>
                        </div>
                        <div class="col s12 m8 l8 xl8 offset-m2 offset-xl2 offset-l2 ptop40">   
                            <form id="form-inscription" method="POST">    
                                <div class="input-field ">
                                    <i class="material-icons prefix">account_circle</i>
                                    <input id="name" type="text" required class="validate">
                                    <label for="name" data-error="Preenche este campo com seu nome completo" >Nome Completo <span>*</span></label>
                                </div>  
                                <div class="input-field">
                                    <i class="fa fa-calendar prefix" aria-hidden="true"></i>
                                    <input id="age"  type="number"  required  class="validate">
                                    <label for="age" >Idade <span>*</span></label>
                                </div>      
                                <div class="input-field">
                                    <i class="material-icons prefix">email</i>
                                    <input id="mail"  type="email" required  class="validate">
                                    <label for="mail" >Email <span>*</span></label>
                                </div>    
                                <div class="input-field">
                                    <i class="material-icons prefix">location_city</i>
                                    <input id="city"  type="text" required  class="validate">
                                    <label for="city" >Cidade <span>*</span></label>
                                </div>      
                                <div class="input-field">
                                    <i class="material-icons prefix">phone</i>
                                    <input id="phone" type="number"  required class="validate">
                                    <label for="phone" >Telefone <span>*</span></label>
                                </div>    
                                <button type="submit" class="btn mtop10 ptop20 btn-inscription-submit">Inscrever-se</button>
                            </form>
                        </div>
                    </div>
                </div>
        </section>
        <div class="divider">
            <img src="assets/media/img/mountains4.png"  class="responsive-img mbottom10n" alt="" />
        </div>
        
        <footer>
            <div class="container">
                <div class="row text-center">
                    <p class="credits">Copyright 2017 - <a href="https://www.linkedin.com/in/marcos-lucs" target="_blanck">Marcos Lucas Rios</a></p>
                </div>
            </div>
        </footer>
    </div> 
    <script src="assets/js/jquery-3.2.1.min.js"></script>
    <script src="materialize/js/materialize.min.js"></script>
    <script src="assets/js/vue.js"></script>
    <script src="assets/js/components.js"></script>
    <script src="assets/js/app.js"></script>
    <script src="slick/slick.min.js"></script>    
    <script src="assets/js/main.js"></script>  
    <script src="assets/js/envio-form.js"></script>
    <script src="assets/js/iziToast.min.js"></script>



</body>
</html>